In [2]:
import pandas as pd
import numpy as np
import torch
from transformers import DistilBertTokenizer, DistilBertModel
import os
import time
from functions import *

In [2]:
df_images = pd.read_csv('data/goodreads_data_with_images.csv')

In [3]:
df_images.head(4)

,Unnamed: 0,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL,Image_URL
0,0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...,https://images-na.ssl-images-amazon.com/images...
1,1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...,https://images-na.ssl-images-amazon.com/images...
2,2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...,https://images-na.ssl-images-amazon.com/images...
3,3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...,https://images-na.ssl-images-amazon.com/images...

In [4]:
df_images.shape

(10000, 9)

- Se llama a la función numerico para convertir la columna `Num_Ratings` en int y rellena los valores faltantes en `Description` con "No description available"

In [5]:
numerico(df_images, "Num_Ratings", "Description")

- Se crea una nueva columna `content` que combina el título y la descripción. Además, se elimina cualquier columna innecesaria como `Unnamed: 0`

In [6]:
df_images['content'] = df_images['Book'] + " " + df_images['Description'].fillna("")

df_images = df_images.drop(columns=['Unnamed: 0'])

In [7]:
df_images.head(2)

,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL,Image_URL,content
0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,5691311,https://www.goodreads.com/book/show/2657.To_Ki...,https://images-na.ssl-images-amazon.com/images...,To Kill a Mockingbird The unforgettable novel ...
1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,9278135,https://www.goodreads.com/book/show/72193.Harr...,https://images-na.ssl-images-amazon.com/images...,Harry Potter and the Philosopher’s Stone (Harr...

In [8]:
df_images.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Book         10000 non-null  object
 1   Author       10000 non-null  object
 2   Description  10000 non-null  object
 3   Genres       10000 non-null  object
 4   Avg_Rating   10000 non-null  float64
 5   Num_Ratings  10000 non-null  int32
 6   URL          10000 non-null  object
 7   Image_URL    9962 non-null   object
 8   content      10000 non-null  object
dtypes: float64(1), int32(1), object(7)
memory usage: 664.2+ KB

- Por último se convierte el dataframe a csv con las nuevas actualizaciones

In [9]:
df_images.to_csv("data/df_images.csv", index=False)